{
  "presets": ["@babel/preset-env"],
  "env": {
    "development": {
      "plugins": [
        ["@babel/plugin-transform-spread"],
        ["babel-plugin-rewire"]
      ]
    },
    "production": {
      "plugins": [
        ["@babel/plugin-transform-spread"]
      ]
    }
  }
}
